*{
  margin:0;
  padding:0;

}
body{
    background: rgb(217,217,255);
background: radial-gradient(circle, rgba(217,217,255,1) 0%, rgba(255,255,255,1) 100%);
}
h3{
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    background-color: rgb(2, 35, 78);
    padding:10px 0 10px 5px;
    
}
  .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      padding-top: 30px;

}

button {
padding: 12px 24px;
border-radius: 8px;
border:none;
font-size: 28px;
font-weight: bold;
cursor: pointer;
transition: all 0.4s ease-in-out;
outline: none;
margin-right:15px;
margin-top:180px;
width:284px;
height:160px;
background-color: rgb(2, 35, 78);
color:white;
}
button:hover{
box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
border:2px solid rgb(2, 35, 78);
background-color: white;
color:rgb(2, 35, 78);
}
i{
    height:44px;
    width:44px;
    align-items: center;
    margin-right: 10px;
    z-index: 999;
    size: 10px;
}
i:hover{
    color:rgb(2, 35, 78);
}


